<!DOCTYPE html>
<html>
<head>
  <title>URL Shortened!</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f2f2f2;">
<div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <h1 style="text-align: center; margin-bottom: 20px; color: #007bff;">URL Shortened!</h1>
  <p style="text-align: center; margin-top: 20px;">Short URL: <a href="{{ short_url }}" style="color: #007bff;">{{ short_url }}</a></p>
</div>
</body>
</html>
